.cc{
    position: fixed;
    bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Merienda', cursive;
    background-color: #747678;
    width: 100%;

  }
body{
    height: 100%;
    background-image: url(../img/alm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
ul{
    list-style:square;
    padding: 10px;
    padding-left: 30px;
}
li{
    font-size: 17px;
    padding-bottom:8px;

   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #61bbd6;
 width: fit-content;
}

p{
    font-family: 'Merienda', cursive;
    width: 65%;
text-align: justify;
font-size: 18px;
}